extends ../layout

block content
  include ../includes/header.pug           

  main
    h1 chats for 
      a(href='') freedom 
      | & 
      a(href='') power !
    
    section.limit-2.space
      p
        br
        br
        h2 The page: pages/chats-root
        br
        hr
        br

        if chats
          each chat, i in chats
            a(href='/chats/'+chat.name) #{chat.name} 
            button(style="display: inline; margin: 0; padding: .2em;") x 
            br
            br

        br
        br
        hr
        br
        form.o4
          .form-group
            label( for="chat-name" ) Chat name:
            input( id="chat-name" type="text", name="first-name" value=data)
            |
            label( for="chat-title" ) Chat title:
            input( id="chat-title" type="text", name="first-title" value=data)
            |            
            label( for="chat-text" ) Chat name:
            textarea( id="chat-text" name="chat-text")
                          
        .form-group
          button(id="create-btn") Create chat          


        //- if chat
        //-   details(id="chat-1" class="card")
        //-     .lable.o6 Lable
        //-     summary.c 
        //-       span.o6 =[ 
        //-       | #{chat.name} 
        //-       span.o6 ]= 
        //-     .title #{chat.title} 
        //-     .text #{chat.text} 
        //-     hr
        //-     br

        //-     div

        //-       each val, i in chat.posts
        //-         .post
        //-           .author= val.author
        //-           .text= val.text
        //-           .right
        //-             //- button(onclick="reply(" + i + ")") Reply 
        //-             button(class="reply-btn" value= i) Reply 

                                                                                           



  include ../includes/footer.pug

  //- script(src='js/lib/prism.js')
  script(src='/js/_my-lib/default.js')

  //- script(src='js/pages/chats.js')
  //- script(src='/js/pages/chats-root.js', type= 'module')  



  script
    include ../../../js/_my-lib/default.js
    //- include ../../../js/_my-plugins/url.js
    //- include ../../../js/_my-plugins/pop-up2.js
    include chats-root.js  




