//- extends ../../layout
//- block content
//-   include ../../includes/header.pug           
//-   main

- var path = "/_pages/programs/rozvivalka";
- var domain = "https://js-clan.com/programs/rozvivalka/rozvivalka-app";
  
doctype html
head
  meta(charset='UTF-8')
  title &Dcy;&icy;&tcy;&yacy;&chcy;&acy; &rcy;&ocy;&zcy;&vcy;&icy;&vcy;&acy;&lcy;&kcy;&acy;
  meta(name='description' content='Дитячий розвиваючий сайт')
  meta(name='Keywords' content='Дитячий, розвиток дитини, дітям 3 років')
  meta(name='author' content='Дячук Віталій Андрійович')
  meta(name='document-state' content='Static')
  meta(name='generator' content='абв - Дитяча розвивалка')
  meta(property='business:contact_data:country_name' content='Україна')
  meta(itemprop='name' content='Дитяча розвивалка')
  meta(itemprop='description' content='Дитячий, розвиток дитини, дітям 3 років')
  meta(itemprop='image' content='res/logo.svg')
  meta(name='twitter:card' content='summary')
  // Тип окна
  meta(name='twitter:site' content='Дитяча розвивалка')
  meta(name='twitter:title' content='Дітям 3х років')
  meta(name='twitter:description' content='Дитячий розвиваючий сайт. Вік 3 роки.')
  meta(name='twitter:creator' content='Дячук Віталій Андрійович')
  meta(name='twitter:image:src' content='res/logo.svg')
  meta(name='twitter:domain' content=domain )
  meta(property='og:type' content='profile')
  meta(property='profile:first_name' content='Віталій')
  meta(property='profile:last_name' content='Дячук')
  meta(property='profile:username' content='Spirit_Urban')
  meta(property='og:title' content='Дитяча розвивалка')
  meta(property='og:description' content='Дитячий розвиваючий сайт. Вік 3 роки.')
  meta(property='og:image' content='res/ILLUSTRATION-logo.png')
  meta(property='og:url' content=domain )
  meta(property='og:site_name' content='Дитяча розвивалка')
  meta(property='og:see_also' content=domain )
  meta(property='fb:admins' content='https://www.facebook.com/spirit2urban')
  link(rel='stylesheet' href=path+'/RG.css')


header
  .headwrap
    img.logo(src=path+'/res/logo.svg' onerror="this.onerror=null; this.src='image.png'")
    h1 &Dcy;&icy;&tcy;&yacy;&chcy;&acy; &rcy;&ocy;&zcy;&vcy;&icy;&vcy;&acy;&lcy;&kcy;&acy;


#content
  video#vidosik(autoplay='')
    source(src=path+'/vidos/000.mp4')
    // type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'
    // <source src="pr6.webm" type='video/webm; codecs="vp8, vorbis"'>
    source(src=path+'/vidos/000.ogv' type='video/ogg; codecs="theora, vorbis"')
    // <embed src="vidos/МОНСТЕРТРАК.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="850" height="300">
    | Your browser does not support HTML5 video.
  // <object type=application/x-shockwave-flash data=vidos/МОНСТЕРТРАК.swf width=850 height=500></object>


  #control
    #center
      input#finish.start(type='button' value='СТАРТ!' onclick='builder()')
  article.info
    br
    p &Ncy;&acy;&tcy;&icy;&scy;&kcy;&acy;&jcy; &bcy;&ucy;&kcy;&vcy;&icy; &mcy;&icy;&shcy;&kcy;&ocy;&yucy; &acy;&bcy;&ocy; &ncy;&acy; &kcy;&lcy;&acy;&vcy;&iukcy;&acy;&tcy;&ucy;&rcy;&iukcy;.
    br
    p &Pcy;&iecy;&rcy;&iecy;&khcy;&ocy;&dcy;&softcy; &ucy; &pcy;&ocy;&vcy;&ncy;&ocy;&iecy;&kcy;&rcy;&acy;&ncy;&ncy;&icy;&jcy; &rcy;&iecy;&zhcy;&icy;&mcy; - &kcy;&ocy;&ncy;&pcy;&kcy;&acy; F11.
    br
    p &Bcy;&rcy;&acy;&ucy;&zcy;&iecy;&rcy; IE &ncy;&iecy; &pcy;&iukcy;&dcy;&tcy;&rcy;&icy;&mcy;&ucy;&jukcy;&tcy;&softcy;&scy;&yacy;. &Rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&ucy;&yucy; &vcy;&icy;&kcy;&ocy;&rcy;&icy;&scy;&tcy;&ocy;&vcy;&ucy;&vcy;&acy;&tcy;&icy; &bcy;&rcy;&acy;&ucy;&zcy;&iecy;&rcy; Chrome.
    a(href='https://www.google.ru/chrome/browser/desktop/') &Scy;&Kcy;&Acy;&CHcy;&Acy;&Tcy;&Icy; Chrome 
    br
    p &Pcy;&iukcy;&dcy;&tcy;&rcy;&icy;&mcy;&acy;&jcy;&tcy;&iecy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy; &rcy;&iecy;&pcy;&ocy;&scy;&tcy;&ocy;&mcy; &ucy; &scy;&ocy;&tscy; &mcy;&iecy;&rcy;&iecy;&zhcy;&iukcy;. &Iukcy; &yacy; &zcy;&rcy;&ocy;&bcy;&lcy;&yucy; &shchcy;&iecy; &bcy;&iukcy;&lcy;&softcy;&shcy;&iecy; &acy;&ncy;&iukcy;&mcy;&acy;&tscy;&iukcy;&jcy;.
    br


    script(type='text/javascript').
      (function() {
      if (window.pluso)if (typeof window.pluso.start == "function") return;
      if (window.ifpluso==undefined) { window.ifpluso = 1;
      var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
      s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
      s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
      var h=d[g]('body')[0];
      h.appendChild(s);
      }})();
    .pluso(data-background='none;' data-options='medium,square,line,horizontal,counter,sepcounter=1,theme=14' data-services='vkontakte,odnoklassniki,facebook,twitter,google,moimir' data-url=domain data-title='АБВ - Дитяча розвивалка.' data-description="Розвивалка АБВ являє собою просту і цікаву навчальну гру.         Ця гра легко знайомить дитину з буквами і словами української мови. Та розвиває навики користування комп'ютером." data-user='65206310')
    br
    p &Zcy;&acy;&lcy;&icy;&shcy;&acy;&jcy;&tcy;&iecy; &kcy;&ocy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&iukcy; &tcy;&acy; &pcy;&ocy;&bcy;&acy;&zhcy;&acy;&ncy;&ncy;&yacy; &ucy; &ncy;&acy;&shcy;&icy;&khcy; &gcy;&rcy;&ucy;&pcy;&acy;&khcy;: &nbsp;
    a(href='https://vk.com/rozvivalka_abv') &Vcy;&Kcy;&Ocy;&Ncy;&Tcy;&Acy;&Kcy;&Tcy;&Iukcy;
    p &nbsp; &tcy;&acy; &nbsp;
    a(href='https://www.facebook.com/shadespiritenator') FACEBOOK
    br


footer(onclick="location.href='https://www.behance.net/spirit_urban';")
  div
    a(href='https://www.behance.net/spirit_urban') &copy; 2015 &Dcy;&yacy;&chcy;&ucy;&kcy; &Vcy;&iukcy;&tcy;&acy;&lcy;&iukcy;&jcy; 
audio#A
  source(src=path+'/res/A.mp3' type='audio/mpeg')
  source(src=path+'/res/A.ogg' type='audio/ogg')
audio#B
  source(src=path+'/res/B.mp3' type='audio/mpeg')
  source(src=path+'/res/B.ogg' type='audio/ogg')
audio#V
  source(src=path+'/res/V.mp3' type='audio/mpeg')
  source(src=path+'/res/V.ogg' type='audio/ogg')
audio#G
  source(src=path+'/res/G.mp3' type='audio/mpeg')
  source(src=path+'/res/G.ogg' type='audio/ogg')
audio#D
  source(src=path+'/res/D.mp3' type='audio/mpeg')
  source(src=path+'/res/D.ogg' type='audio/ogg')
audio#E
  source(src=path+'/res/E.mp3' type='audio/mpeg')
  source(src=path+'/res/E.ogg' type='audio/ogg')
audio#YE
  source(src=path+'/res/YE.mp3' type='audio/mpeg')
  source(src=path+'/res/YE.ogg' type='audio/ogg')
audio#J
  source(src=path+'/res/J.mp3' type='audio/mpeg')
  source(src=path+'/res/J.ogg' type='audio/ogg')
audio#Z
  source(src=path+'/res/Z.mp3' type='audio/mpeg')
  source(src=path+'/res/Z.ogg' type='audio/ogg')
audio#_N
  source(src=path+'/res/_N.mp3' type='audio/mpeg')
  source(src=path+'/res/_N.ogg' type='audio/ogg')
audio#_N_
  source(src=path+'/res/_N_.mp3' type='audio/mpeg')
  source(src=path+'/res/_N_.ogg' type='audio/ogg')
audio#I
  source(src=path+'/res/I.mp3' type='audio/mpeg')
  source(src=path+'/res/I.ogg' type='audio/ogg')
audio#YI
  source(src=path+'/res/YI.mp3' type='audio/mpeg')
  source(src=path+'/res/YI.ogg' type='audio/ogg')
audio#YY
  source(src=path+'/res/YY.mp3' type='audio/mpeg')
  source(src=path+'/res/YY.ogg' type='audio/ogg')
audio#K
  source(src=path+'/res/K.mp3' type='audio/mpeg')
  source(src=path+'/res/K.ogg' type='audio/ogg')
audio#L
  source(src=path+'/res/L.mp3' type='audio/mpeg')
  source(src=path+'/res/L.ogg' type='audio/ogg')
audio#M
  source(src=path+'/res/M.mp3' type='audio/mpeg')
  source(src=path+'/res/M.ogg' type='audio/ogg')
audio#N
  source(src=path+'/res/N.mp3' type='audio/mpeg')
  source(src=path+'/res/N.ogg' type='audio/ogg')
audio#O
  source(src=path+'/res/O.mp3' type='audio/mpeg')
  source(src=path+'/res/O.ogg' type='audio/ogg')
audio#P
  source(src=path+'/res/P.mp3' type='audio/mpeg')
  source(src=path+'/res/P.ogg' type='audio/ogg')
audio#R
  source(src=path+'/res/R.mp3' type='audio/mpeg')
  source(src=path+'/res/R.ogg' type='audio/ogg')
audio#S
  source(src=path+'/res/S.mp3' type='audio/mpeg')
  source(src=path+'/res/S.ogg' type='audio/ogg')
audio#T
  source(src=path+'/res/T.mp3' type='audio/mpeg')
  source(src=path+'/res/T.ogg' type='audio/ogg')
audio#U
  source(src=path+'/res/U.mp3' type='audio/mpeg')
  source(src=path+'/res/U.ogg' type='audio/ogg')
audio#F
  source(src=path+'/res/F.mp3' type='audio/mpeg')
  source(src=path+'/res/F.ogg' type='audio/ogg')
audio#H
  source(src=path+'/res/H.mp3' type='audio/mpeg')
  source(src=path+'/res/H.ogg' type='audio/ogg')
audio#C
  source(src=path+'/res/C.mp3' type='audio/mpeg')
  source(src=path+'/res/C.ogg' type='audio/ogg')
audio#CH
  source(src=path+'/res/CH.mp3' type='audio/mpeg')
  source(src=path+'/res/CH.ogg' type='audio/ogg')
audio#SH
  source(src=path+'/res/SH.mp3' type='audio/mpeg')
  source(src=path+'/res/SH.ogg' type='audio/ogg')
audio#SCH
  source(src=path+'/res/SCH.mp3' type='audio/mpeg')
  source(src=path+'/res/SCH.ogg' type='audio/ogg')
audio#UU
  source(src=path+'/res/UU.mp3' type='audio/mpeg')
  source(src=path+'/res/UU.ogg' type='audio/ogg')
audio#YA
  source(src=path+'/res/YA.mp3' type='audio/mpeg')
  source(src=path+'/res/YA.ogg' type='audio/ogg')
audio#MZNAK
  source(src=path+'/res/MZNAK.mp3' type='audio/mpeg')
  source(src=path+'/res/MZNAK.ogg' type='audio/ogg')
audio#TZNAK
  source(src=path+'/res/TZNAK.mp3' type='audio/mpeg')
  source(src=path+'/res/TZNAK.ogg' type='audio/ogg')
script(src=path+'/RG.js')
video#kesh(preload='' width='0px' height='0px')
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-69626303-1', 'auto');
  ga('send', 'pageview');


        







  //- include ../../includes/footer.pug




