


//
// fields --- THE INCLUDE !!!
//

.form-group-2
  textarea( id="new-post")   
  span &nbsp;
  button(id="send-btn" value= 'root') Send 

      
section.limit-2.space
  p
    if chat
      details(id="chat-1" class="card")
        .lable.o6 Lable???

        summary.c 
          span.o6 =[ 
          | #{chat.name} 
          span.o6 ]= 

        .title Chat name: 
          b #{chat.title} 
        .text Description: 
          b #{chat.text} 

        hr
        br

        div

          //
          // Post
          //
          //- details(id="chat-1" class="details-2 card-2")
          //-   summary.c 
          //-     span.o6 Post
          //-   hr

        

          each val, i in chat.posts
            .post-root
              .level.o6 1 (root)
              .author Author: #{val.author}
              .text= val.text
              .right
                //- button(onclick="reply(" + i + ")") Reply 
                //- (val.author == user.username)
                //- .test User: #{user}
                button(class="reply-btn" value= i) Reply
                if user && val.author == user.username
                  button(class="delete-btn" value= i) Delete
                //
                // Reply
                //                    
                //- details(id="chat-1" class="details-2 card-2")
                //-   .lable.o6 Lable
                //-   summary.c 
                //-     span.o6 Reply
                //-   hr
                //-   .form-group-2
                //-     textarea( id="new-post")   
                //-     button(class="reply-btn" value= i) Reply 
                

              if val.posts
                each val2, i2 in val.posts
                  .post
                    .level.o6 2
                    .author= val2.author || ''
                    .text= val2.text || ''
                    .right
                      button(class="reply-btn" value= i+'-'+i2) Reply
                      if user && val2.author == user.username
                        button(class="delete-btn" value= i+'-'+i2) Delete 


                    each val3, i3 in val2.posts
                      .post
                        .level.o6 3
                        .author= val3.author
                        .text= val3.text
                        .right
                          button(class="reply-btn" value= i+'-'+i2+'-'+i3) Reply
                          if user && val3.author == user.username
                            button(class="delete-btn" value= i+'-'+i2+'-'+i3) Delete


                        each val4, i4 in val3.posts
                          .post
                            .level.o6 4
                            .author= val4.author
                            .text= val4.text   
                            .right
                              button(class="reply-btn" value= i+'-'+i2+'-'+i3+'-'+i4) Reply
                              if user && val4.author == user.username
                                button(class="delete-btn" value= i+'-'+i2+'-'+i3+'-'+i4) Delete


                            each val5, i5 in val4.posts
                              .post
                                .level.o6 5
                                .author= val5.author
                                .text= val5.text
                                .right
                                  button(class="reply-btn" value= i+'-'+i2+'-'+i3+'-'+i4+'-'+i5) Reply
                                  if user && val5.author == user.username
                                    button(class="delete-btn" value= i+'-'+i2+'-'+i3+'-'+i4+'-'+i5) Delete


                                each val6, i6 in val5.posts
                                  .post
                                    .level.o6 6
                                    .author= val6.author
                                    .text= val6.text
                                    .right
                                      button(class="reply-btn" value= i+'-'+i2+'-'+i3+'-'+i4+'-'+i5+'-'+i6) Reply
                                      if user && val6.author == user.username
                                        button(class="delete-btn" value= i+'-'+i2+'-'+i3+'-'+i4+'-'+i5+'-'+i6) Delete


                                    each val7, i7 in val6.posts
                                      .post
                                        .level.o6 7
                                        .author= val7.author
                                        .text= val7.text      
                                        .right
                                          button(class="reply-btn" value= i+'-'+i2+'-'+i3+'-'+i4+'-'+i5+'-'+i6+'-'+i7) Reply
                                          if user && val7.author == user.username
                                            button(class="delete-btn" value= i+'-'+i2+'-'+i3+'-'+i4+'-'+i5+'-'+i6+'-'+i7) Delete


                                        each val8, i8 in val7.posts
                                          .post
                                            .level.o6 8
                                            .author= val8.author
                                            .text= val8.text  
                                            .right
                                              button(class="reply-btn" value= i+'-'+i2+'-'+i3+'-'+i4+'-'+i5+'-'+i6+'-'+i7+'-'+i8) Reply
                                              if user && val8.author == user.username
                                                button(class="delete-btn" value= i+'-'+i2+'-'+i3+'-'+i4+'-'+i5+'-'+i6+'-'+i7+'-'+i8) Delete


                                            each val9, i9 in val8.posts
                                              .post
                                                .level.o6 9
                                                .author= val9.author
                                                .text= val9.text   
                                                .right
                                                  button(class="reply-btn" value= i+'-'+i2+'-'+i3+'-'+i4+'-'+i5+'-'+i6+'-'+i7+'-'+i8+'-'+i9) Reply
                                                  if user && val9.author == user.username
                                                    button(class="delete-btn" value= i+'-'+i2+'-'+i3+'-'+i4+'-'+i5+'-'+i6+'-'+i7+'-'+i8+'-'+i9) Delete


                                                each val10, i10 in val9.posts
                                                  .post
                                                    .level.o6 10
                                                    .author= val10.author
                                                    .text= val10.text      
                                                    .right
                                                      if user && val10.author == user.username
                                                        button(class="delete-btn" value= i+'-'+i2+'-'+i3+'-'+i4+'-'+i5+'-'+i6+'-'+i7+'-'+i8+'-'+i9+'-'+i10) Delete


//- script(src='js/lib/prism.js')
script(src='/js/_my-lib/default.js')

//- script(src='js/pages/chats.js')
script(src='/js/pages/chats.js', type= 'module')  




